@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'),
        local('OpenSans'),
        url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'),
        local('OpenSans-Bold'),
        url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff");
}

:root {
    --black: #212121;
    --green: #09A494;
    --white: #fff;
    --main-transition: .5s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
button,
a {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
}

body {
    line-height: 150%;
}

h1,
h2 {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: var(--black);
}

h1 {
    font-size: 60px;
    line-height: 110%;
}

h2 {
    font-size: 30px;
    line-height: 120%;
}

a,
button {
    line-height: 100%;
    cursor: pointer;
}

button {
    text-transform: lowercase;
    padding: 6px 10px 10px;
    border: 1px solid var(--green);
    border-radius: 8px;
    color: var(--green);
    background-color: transparent;
    transition: color, background-color var(--main-transition);
}

button:hover {
    color: var(--white);
    background-color: var(--green);
}

footer {
    color: var(--white);
    background-color: var(--black);
}

.subtitle {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    color: var(--green);
    margin: 0;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--black);
    transition: color var(--main-transition);
}

.main-nav a:hover {
    color: var(--green);
}

.social,
.contact {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

.social li,
.contact li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--green);
    border-radius: 50%;
    background-color: var(--white);
    transition: background-color var(--main-transition);
    background-position: center;
    background-repeat: no-repeat;
}

.social-link:hover {
    background-color: var(--green);
}

.social-link_github {
    background-image: url("../img/social/github.svg");
}

.social-link_gitlab {
    background-image: url("../img/social/gitlab.svg");
}

.social-link_instagram {
    background-image: url("../img/social/instagram.svg");
}

.social-link_telegram {
    background-image: url("../img/social/telegram.svg");
}

.social-link_vk {
    background-image: url("../img/social/vk.svg");
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contact-link {
    display: block;
    padding: 5px 0 5px 42px;
    transition: color var(--main-transition);
    background-position: left;
    background-repeat: no-repeat;
    text-decoration: none;
}

.contact-link:hover {
    color: var(--green);
}

.contact-link_phone {
    background-image: url("../img/contacts/phone.svg");
}

.contact-link_mail {
    background-image: url("../img/contacts/email.svg");
}

.main-photo {
    border-radius: 50%;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}

.skill-level {
    margin: 4px 0 22px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}

.skill-level div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
}

.skill-item {
    text-transform: lowercase;
}

/*ТИ-6 часть 1*/

.main-header {
    display: flex;
    gap: 40px;
    padding-top: 60px;
    align-items: center;
    margin-bottom: 120px;
}

.main-nav {
    display: flex;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.intro__name {
    margin: 0 0 20px;
}

.text-wrapper {
    max-width: 800px;
}

h2 {
    margin: 0 0 40px;
}

p {
    margin: 0 0 15px;
}

p:last-child {
    margin: 0;
}

.skills__header {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.skills__header h2 {
    margin: 0;
}

.skills__buttonGroup {
    display: flex;
    align-items: center;
    gap: 20px;
}

.skills__buttonGroup p {
    margin: 0;
}

.contact {
    display: flex;
    margin-bottom: 40px;
    gap: 40px;
}

.social {
    display: flex;
    gap: 20px;
}

.main-footer {
    padding: 50px 0;
}

section {
    margin-bottom: 120px;
}

/*ТИ-6 часть 2*/

.nav-btn {
    display: none;
}

.main-header__href {
    display: block;
    line-height: 0;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .subtitle {
        font-size: 28px;
    }

    body,
    button,
    a {
        font-size: 16px;
    }

    .main-photo {
        width: 250px;
        height: 250px;
    }

    section {
        margin-bottom: 80px;
    }

    .main-header {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        flex-direction: column;
        gap: 30px;
    }

    .main-photo {
        order: 1;
    }

    .intro__descriptionWrapper {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro__name {
        margin-bottom: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        margin-bottom: 30px;
    }

    h2, .subtitle {
        font-size: 20px;
    }

    body,
    button,
    a {
        font-size: 14px;
    }

    .main-header {
        margin-bottom: 60px;
        padding-top: 20px;
        flex-direction: column;
        gap: 20px;
    }

    .main-header__logo {
        width: 40px;
        height: 40px;
    }

    .main-nav {
        flex-direction: column;
    }

    .main-nav__href {
        text-align: center;
    }

    .nav-btn {
        display: block;
        width: 30px;
        height: 30px;
    }

    .nav-btn__close {
        background-image: url(../img/adaptive/close.svg);
        border: none;
        border-radius: 0;
    }

    .nav-btn__open {
        background-image: url(../img/adaptive/burger.svg);
        border: none;
        border-radius: 0;
    }

    button:hover {
        background-color: transparent;
    }

    .main-header-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-photo {
        width: 150px;
        height: 150px;
    }

    .skills__header {
        margin-bottom: 30px;
    }

    .contact {
        margin-bottom: 30px;
    }

    .contact-link {
        padding: 8px 0 8px 42px;
    }

    .container {
        padding: 0 20px;
    }

    .main-footer {
        padding: 30px 0;
    }

    section {
        margin-bottom: 60px;
    }

    .main-header {
        margin-bottom: 60px;
    }

    .main-nav a {
        padding: 20px 30px;
    }

    .main-nav a:hover {
        color: var(--black);
    }

    .skill-level {
        margin: 4px 0 24px;
    }
}

@media screen and (max-width: 550px) {
    .skills__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .skills__buttonGroup {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }

    .skills__button {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .contact {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
    }

    section {
        margin-bottom: 50px;
    }

    .main-header {
        margin-bottom: 50px;
    }

    .social {
        gap: 15px;
    }
}
